@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --blue: #5847eb;

   --light-red-work: #ff8c66;
   --soft-blue-play: #56c2e6;
   --light-red-study: #ff5c7c;
   --lime-green-exercise: #4acf81;
   --violet-social: #7536d3;
   --soft-orange-selfcare: #f1c65b;

   --very-dark-blue: #0f1424;
   --dark-blue: #1c1f4a;
   --desaturated-blue: #6f76c8;
   --pale-blue: #bdc1ff;
   --white: #fff;

   --font-size-10: 62.5%; /* 10px */
   --font-fam-rubik: "Rubik", sans-serif;
   --font-weight-300: 300;
   --font-weight-400: 400;
   --font-weight-500: 500;
}

html {
   font-size: var(--font-size-10);
   font-family: var(--font-fam-rubik);
}

body {
   font-size: 1.6rem;
   font-weight: var(--font-weight-400);
   background-color: var(--very-dark-blue);
   color: var(--white);
}

footer {
   color: var(--pale-blue);
   text-align: center;
}

footer a {
   color: var(--desaturated-blue);
   text-decoration: none;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem; /* between main_content & footer */
}

.main_content {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 2.5rem; /* between each card */
   margin-top: 5%;
}

/* ================= profile is here ================= */
.profile_container {
   grid-column: span 3;
   grid-row: span 2;
   width: calc(100rem / 4);
}

.bio {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   padding: 3rem;
   border-radius: 1rem;
   background-color: var(--blue);
   font-size: 2rem;
   height: 70%;
}

.photo {
   width: 8rem;
   height: 8rem;
   border-radius: 50%;
   border: 0.2rem solid var(--white);
}

.name {
   font-weight: var(--font-weight-300);
}

.name span {
   display: block;
   font-size: 1.6rem;
   color: var(--pale-blue);
   font-weight: var(--font-weight-400);
}

.timeframe_container {
   background-color: var(--dark-blue);
   border-radius: 0 0 1rem 1rem;
   color: var(--desaturated-blue);
   height: 30%;
}

.timeframe_container ul {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   list-style-type: none;
   padding: 2rem 3rem;
}

.daily:hover,
.weekly:hover,
.monthly:hover {
   cursor: pointer;
   color: var(--pale-blue);
}

.active {
   cursor: pointer;
   color: var(--pale-blue);
}

/* ================= card css is here ================= */
.card {
   grid-column: span 3;
   border-radius: 1rem;
   width: calc(100rem / 4);

   /* bg image attribute */
   background-position: top 0rem right 1rem;
   background-repeat: no-repeat;
   background-size: 5rem;
}

/*  bg image of each card is here  */
.work {
   background-color: var(--light-red-work);
   background-image: url("../images/icon-work.svg");
}

.play {
   background-color: var(--soft-blue-play);
   background-image: url("../images/icon-play.svg");
}

.study {
   background-color: var(--light-red-study);
   background-image: url("../images/icon-study.svg");
}

.exercise {
   background-color: var(--lime-green-exercise);
   background-image: url("../images/icon-exercise.svg");
}

.social {
   background-color: var(--violet-social);
   background-image: url("../images/icon-social.svg");
}

.selfcare {
   background-color: var(--soft-orange-selfcare);
   background-image: url("../images/icon-self-care.svg");
}

.tracker {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2rem; /* between title & time_container */
   margin-top: 3.5rem; /* between card & tracker */
   padding: 3rem 2rem;
   border-radius: 1rem;
   background-color: var(--dark-blue);
}

.tracker:hover {
   cursor: pointer;
   filter: brightness(150%);
}

.title_ellipsis_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
   font-size: 1.8rem;
   font-weight: var(--font-weight-400);
}

.icon_ellipsis:hover {
   cursor: pointer;
   filter: brightness(150%);
}

/* time record is here */
.time_container {
   display: flex;
   flex-direction: column;
   gap: 1rem; /* between current & previous time */
   font-weight: var(--font-weight-300);
}

.current {
   font-size: 4rem;
}

.previous {
   font-size: 1.3rem;
   color: var(--pale-blue);
}

/* ================= mobile screen start here ================= */
@media (max-width: 48.1rem) {
   .container {
      min-width: 32rem;
   }

   .main_content {
      display: flex;
      flex-direction: column;
      margin: 3rem 2rem;
      max-width: 48.1rem;
   }

   /*  profile is here  */
   .bio {
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      padding: 2rem 1rem;
   }

   .photo {
      width: 6rem;
      height: 6rem;
   }

   .name {
      font-size: 2.2rem;
   }

   .timeframe_container ul {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   /*  card css is here  */
   .tracker {
      gap: 0.5rem; /* between title & time_container */
   }

   .time_container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   .current {
      font-size: 2.5rem;
   }

   .current {
      font-size: 2.5rem;
   }
}
